
<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2><br><br>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
      <div class="col-lg-12 text-center">
        <h4 class="section-heading text-uppercase">Best Quality Food Home base Hygenic Life Assurance of good health</h4><br>
        <h3 class="section-subheading text-muted">We are the best Tiffin services in Nagpur. We are expertise in this industry. We love cooking, and having passion towards food industry really <br>excite us to push ourselves to serve healthy food for people around us. We gives our best. Our quality of food is awesome and<br> we provide 100% hygenic food and vegeterian food. Our tiffin mostly contains Maharashtrian food.<br> We try to balance of freshly grinded of Indian spices to give blast of awesome flavour</h3><br><br>
      </div><br><br>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/about/22.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Our Value</h4>
                <!-- <h4 class="subheading">An Agency is Born</h4> -->
              </div>
              <div class="timeline-body">
                <p class="text-muted">We believe in customer satisfaction and <br>quality. High Quality Food<br>
Very Good Service<br>
Focus Customer Satisfaction <br><br><br> </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/about/8.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Vision</h4>
                <!-- <h4 class="subheading">Transition to Full Service</h4> -->
              </div>
              <div class="timeline-body">
                <p class="text-muted"> We deliver every day fresh home made food <br> to our clients. To Satisfy our clients by providing pure & healthy food with quick fast & polite service.To be a leading company in India For Offering Home Cooked Quality food.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="assets/about/9.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Mission</h4>
                <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
              </div>
              <div class="timeline-body">
                <p class="text-muted">We provide Home Made Kitchen Food to all Over India with Traditional Taste and Reasonable Rate.
To guide our clients with proper health tips to establish a " New healthy society".
Stive Continually to Offer truly and traditional Indian Veg Home cooked food.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4><br>
                Happy Eating
              <br>
               </h4>
            </div>
          </li>
        </ul>
        <br><br><br>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <!-- <h4 class="section-heading text-uppercase">Best Quality Food Home base Hygenic Life Assurance of good health</h4><br> -->
      <h3 class="section-subheading text-muted"><i>Your Stomach is Better with Fresh and Hygenic food</i>.</h3><br><br>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; MH Dhaba 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <spam>mhdhaaba@hotmail.com</spam>
          </li>
          <li class="list-inline-item">
            <spam>+91 8861355685</spam>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
