<div id="menu">

  <section class="content-section" id="portfolio1">
    <div class="container">
      <div class="content-section-heading text-center">
        <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
        <h2 class="mb-5">MENU</h2>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-6">
          <a class="portfolio1-item" href="#">
            <span class="caption">
              <span class="caption-content">

                <h2><center>LUNCH</center></h2><br>

                <h5><center>Monday: </center></h5>
                <p class="mb-0"><center>
                   Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Tuesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Wednesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Thursday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Friday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Saturday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita
                </center></p>

              </span>
            </span>
            <img class="img-fluid" src="assets/menu/1.jpeg" alt="" style="height:500;width:500;">
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio1-item" href="#">
            <span class="caption">
              <span class="caption-content">

                <h2><center>DINNER</center></h2><br>

                <h5><center>Monday: </center></h5>
                <p class="mb-0"><center>
                   Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Tuesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Wednesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Thursday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Friday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Saturday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita
                </center></p>

              </span>
            </span>
            <img class="img-fluid" src="assets/menu/2.jpeg" alt="" style="height:500;width:500;">
          </a>
        </div>
      </div>
     </div>
    </section>
  </div>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; MH Dhaba 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <spam>mhdhaaba@hotmail.com</spam>
            </li>
            <li class="list-inline-item">
              <spam>+91 8861355685</spam>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
