<div id="menu">

  <section class="content-section" id="portfolio1">
    <div class="container">
      <div class="content-section-heading text-center">
        <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
        <h2 class="mb-5">MENU</h2>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-6">
          <a class="portfolio1-item" href="#">
            <span class="caption">
              <span class="caption-content">

                <h2><center>LUNCH</center></h2><br>

                <h5><center>Monday: </center></h5>
                <p class="mb-0"><center>
                   Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Tuesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Wednesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Thursday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Friday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Saturday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita
                </center></p>

              </span>
            </span>
            <img class="img-fluid" src="assets/menu/1.jpeg" alt="" style="height:500;width:500;">
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio1-item" href="#">
            <span class="caption">
              <span class="caption-content">

                <h2><center>DINNER</center></h2><br>

                <h5><center>Monday: </center></h5>
                <p class="mb-0"><center>
                   Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Tuesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Wednesday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Thursday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Friday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita<hr color="#00000"/>
                </center></p>

                <h5><center>Saturday: </center></h5>
                <p class="mb-0"><center>
                Rice + 4 Roli + Paneer + 1 Veg+ Salad + Sweet Dish + Chatni + Raita
                </center></p>

              </span>
            </span>
            <img class="img-fluid" src="assets/menu/2.jpeg" alt="" style="height:500;width:500;">
          </a>
        </div>
      </div>
     </div>
    </section>
  </div>




  <section id="blog">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="block">
                          <h1 class="heading">Latest <span>From</span> our <span>Cook</span></h1>
                          <ul>
  						                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                 <a href="/services" class="multi-fontszie"> <div class="blog-img">
                                      <img src="assets/parallax/special_tiffin.jpg" height="230" width="285" alt="blog-img">
                                  </div>
                                  <div class="content-right">
                                      <h3> Special Tiffin</h3>
                                      <p>Rs.2,500/- Month</p>
                                  </div></a>
                              </li>
  								                             <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                 <a href="/services" class="multi-fontszie"> <div class="blog-img">
                                      <img src="assets/parallax/regular_tiffin.png" height="230" width="285" alt="blog-img">
                                  </div>
                                  <div class="content-right">
                                      <h3>Regular Tiffin</h3>
                                      <p>Rs.2,200/-Month</p>
                                  </div></a>
                              </li>

                              <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <a href="/services" class="multi-fontszie">  <div class="content-left">
                                      <h3>Special Half Tiffin</h3>
                                      <p>Rs.1,900/-Month</p>
                                  </div>
                                  <div class="blog-img-2">
                                      <img src="assets/parallax/special_half_tiffin.jpg" height="230" width="285" alt="blog-img">
                                  </div></a>
                              </li>


                              <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <a href="/services" class="multi-fontszie">  <div class="content-left">
                                      <h3>Regular Half Tiffin</h3>
                                      <p>Rs 1,400/- Month</p>
                                  </div>
                                  <div class="blog-img-2">
                                      <img src="assets/parallax/regular_half_tiffin.jpg" height="230" width="285" alt="blog-img">
                                  </div></a>
                              </li>

  						                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                 <a href="/services" class="multi-fontszie"> <div class="blog-img">
                                      <img src="assets/parallax/special.jpg" height="230" width="285" alt="blog-img">
                                  </div>
                                  <div class="content-right">
                                      <h3>Special Thali</h3>
                                      <p>Rs.120/- Daily</p>
                                  </div></a>
                              </li>
  								                             <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                 <a href="/services" class="multi-fontszie"> <div class="blog-img">
                                      <img src="assets/parallax/regular_thali.jpg" height="230" width="285" alt="blog-img">
                                  </div>
                                  <div class="content-right">
                                      <h3>Regular Thali</h3>
                                      <p>Rs.50/- Daily</p>
                                  </div></a>
                              </li>
  								                         </ul>
                          <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>
                      </div>
                  </div><!-- .col-md-12 close -->
              </div><!-- .row close -->
          </div><!-- .containe close -->
      </section>




























  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; MH Dhaba 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <spam>mhdhaaba@hotmail.com</spam>
            </li>
            <li class="list-inline-item">
              <spam>+91 8861355685</spam>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
