<div class="video">

<video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted" >
  <source src="assets/pro/3.mp4" type="video/mp4">
    your browser does not support
</video>

</div>


<div id="services">

  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
        <h2 class="mb-5">OUR SERVICES</h2>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Special Thali</h2>
                <h5><center>Rs.120/- Daily</center></h5>
                <p class="mb-0"><center>Salad<br>
                Pickle<br>
                Papad<br>
                5 Chapaties<br>
                Paneer Veg<br>
                Optional Veg<br>
                Rice<br>
                Dal Fry<br>
                Sweet</center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/11.jpg" alt="" style="height:500;width:500;">
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Regular Thali</h2>
                <h5><center>Rs.50/- Daily</center></h5>
                <p class="mb-0"><center>Salad<br>
                  Pickle<br>
                  5 Chapaties<br>
                  1 Veg<br>
                  Rice<br>
                  Dal Fry<br><br><br><br></center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/22.jpg" alt="" >
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Special Tiffin</h2>
                <h5><center>Rs.2500/- Month</center></h5>
                <p class="mb-0"><center>Salad+fruits<br>Pickle<br>
Papad<br>
5 Chapaties<br>
2 Veg<br>
Rice<br>
Dal Fry<br>
Sweet<br><br></center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/33.jpg" alt="">
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Regular Tiffin</h2>
                <h5><center>Rs.2200/- Month</center></h5>
                <p class="mb-0"><center>Salad<br>
Pickle<br>
Padad<br>
5 Chapaties<br>
2 Veg<br>
Rice<br>
Dal Fry<br><br><br></center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/44.jpg" alt="" >
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2><center>Special Half Tiffin</center></h2>
                <h5><center>Rs.1900/- Month</center></h5>
                <p class="mb-0"><center>
                  Salad<br>
                Pickle<br>
                Papad<br>
                4 Chapaties<br>
                1 Veg<br>
                Rice<br>
                Dal Fry<br><br></center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/55.jpg" alt="" style="height:500;width:500;">
          </a>
        </div>


        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2><center>Regular Half Tiffin</center></h2>
                <h5><center>Rs.1400/- Month</center></h5>
                <p class="mb-0"><center>Salad<br>
                Pickle<br>
                Papad<br>
                5 Chapaties<br>
                1 Veg<br>
                Rice<br>
                Dal Fry<br><br></center></p>
              </span>
            </span>
            <img class="img-fluid1" src="assets/pro/66.jpg" alt="" style="height:500;width:500;">
          </a>
        </div>


      </div>
    </div>
  </section>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; MH Dhaba 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <spam>mhdhaaba@hotmail.com</spam>
          </li>
          <li class="list-inline-item">
            <spam>+91 8861355685</spam>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
